body{ 
    width: 100%;
}

main{
    width: 80%;
    margin: 0 auto;  /* midstiller */
    border: solid black 1px;  
}

main > h1{
    font-size: 98px;
    justify-content: center;  /* midstiller */
}

main > article{
    width: 90%;
    background-color: burlywood;
}

div > .bilde{
    width: 200px;
    height: 200px;
    position: relative;  /*plasserer alt som er inn i diven, relativ til diven */
    display: inline-block;
    overflow: hidden; /*fjrerner det som kommer utenfor diven */
    margin: 0;
  }
  
  div > .bilde > img {
    display: block;
    position: absolute;
    height: auto;
    width: 100%;

    /* for å midstille bilde */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
