body{ 
    width: 100%;
    margin: 0;
}

main{
    width: 100%;
    margin: 0 auto;  /* midstiller */
   
}

section > h1{
    font-size: 50px;
    justify-content: center;  /* midstiller */
    font-family: Copperplate, Papyrus, fantasy;
}

section > article{
    margin-top: 50px ;
  /*  background-color: powderblue;*/
}

h1, h2, p{
    padding: 0 8% 0 8%;
    text-align: center;
}

h2 {
  text-decoration: underline;
}

article {
  background-color: burlywood;
  border-radius: 20px;
}

article > .bilde{
    left: 0;
    width: 100%;
    height: auto;
    position: relative;  /*plasserer alt som er inn i diven, relativ til diven */
    display: inline-block;
    overflow: hidden; /*fjrerner det som kommer utenfor diven */
    margin: 0;
    /*background-color: tomato;*/
  }


  article > .bilde > p{
    text-align: center;
  }

  p{
    font-size: large;
  }
  
  article > .bilde > img {
    display: block;
    height: auto;
    width: 100%;
  }
  article > .bilde > .bilde_tekst{
      font-size: medium;
      margin: 0;
      padding: 5px;
  }

  tr > td {
    font-size: medium;
    
  }

  /* navigations bar */

  .navigation {
      display: flex;
      flex-flow: row wrap;
      justify-content: flex-end;
      list-style: none;
      margin: 0; 
      box-shadow: 2px 3px 20px 1px rgb(0 0 0 / 10%);
      background-color: #F8F9F9;
  }
  .parent {
      position: fixed;
      top: 0;
      left: 0;
      margin: auto;
      width: 100%;
      z-index: 1;
  }
  

  #logo{
      width: auto;
      height: 50px;
      top: 0;
      left: 10px;
      position:absolute;
  }


  .navigation a {
    text-decoration: none;
    display: block;
    padding: 1em;
    color: black;
    font-size: large;
  }
  
  .navigation a:hover {
    background: burlywood;
  }
  
  @media all and (max-width: 800px) {
    .navigation {
      justify-content: space-around;
    }
    img{
        display: none;
    }
  }
  
  @media all and (max-width: 600px) {
    .navigation {
      flex-flow: column wrap;
      padding: 0;
    }
    .navigation a { 
      text-align: center; 
      padding: 10px;
      border-top: 1px solid rgba(255, 255, 255,0.3); 
      border-bottom: 1px solid rgba(0, 0, 0, 0.1); 
    }
    .navigation li:last-of-type a {
      border-bottom: none;
    }
  }

  /* responsive */
  @media(min-width: 500px) {
    article > .bilde > img {
      width: 80%;
      /*bilde skal bli plassert i midten*/
      margin: 0 auto;
    }
  }

  @media(min-width: 750px)  {
    article {
        display: flex;
        margin: 50px 0;
    }
    article > .bilde > img {
        border-radius: 20px;
        width: 90%;
        margin: 10px;
      }


     /*article::before{
          content: " ";
          width: 90%;
          height: 2px;
          border:solid 1px black;
      }*/   
  }

  @media(min-width: 900px)  {
    main {
        width: 90%;
        margin: 120px auto;  /* midstiller */
       /* background-color: ; */
    }

    section > article{
      margin-top: 50px ;
    /*  background-color: powderblue;*/
    }

    article {
      margin-left: 30px;
    }
  }